
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(#d8d8d8, #6b6b6b);
}
button{
    margin: 10px 10px 10px auto; 
    height: 50px;
    width: 100px;
}
:root {
     --previousCirclePosition: 0px;  
}

.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    text-overflow: ellipsis; /* will make [...] at the end */    
    font-family: monospace;
    box-shadow: -8px -8px 15px rgba(255, 255, 255,0.6),8px 8px 15px rgba(0, 0, 0,0.6);
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    /*text-shadow: 1px 1px 3px rgba(255, 255, 255,0.9),-1px -1px 3px rgba(255, 255, 255,0.9),-1px 1px 3px rgba(255, 255, 255,0.9),1px -1px 3px rgba(255, 255, 255,0.9);*/
    font-size: 40px;
    margin: 0px 20px;
    height: 860px;
    width: 80px;
    background: rgba(0, 0, 0, 0.3);
    /* Disable text selesction*/
    user-select: none;
    position: relative;

}
.number{
    padding: 10px;
}
.first-hours{
    top: 250px;
}
/* .second-hours{ 
    top: 300px;
}*/
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 5px rgba(255, 255, 255,0.9);
    font-size:60px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    /*opacity: 20%;*/
    left: -20px;
    position:relative;
    box-shadow: -3px -3px 6px rgb(255, 255, 255);
    
}
.second-hours-circle{
    position: absolute;
    background-color: transparent;
    opacity: 100%;
    background: rgba(0, 0, 0, 0.1);
    left: -10px;
    top:var(--previousCirclePosition);
    visibility:unset;
    /* animation: circle-animation 1s forwards paused; */
}




